.wrapper {
  background-color: #fdfce3;
}

header {
  background-color: #3a2d73;
  border: 2px solid black;
  padding: 15px;
  margin: 15px;
  text-align: center;
  color: whitesmoke;
  font-size: x-large;
  line-height: 1.3em;
}

nav {
  background-color: #7252c1;
  margin: 15px;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  text-po
  color: whitesmoke;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
}

/* unvisited link */
a:link {
  color: whitesmoke;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: #50d9ad;
  background-color: #7252c1;
  padding: 1px;
}

/* selected link */
a:active {
  color: black;
}

main {
  background-color: #fdfce3;
}

footer {
  background-color: #7252c1;
  padding: 10px;
  text-align: center;
  color: whitesmoke;
  margin: 15px;
  border: 2px solid black;
}
