.wrapper {
  background-color: #f1e9e6;
}

header {
  background-color: #c7a79d;
  border: 2px solid white;
  padding: 15px;
  margin: 15px;
  text-align: center;
  color: white;
  font-size: xx-large;
  line-height: 1.3em;
}

nav {
  background-color: #d5bdb5;
  margin: 15px;
  border: 2px solid white;
  padding: 10px;
  text-align: center;
  color: white;
}

a {
  text-decoration: none;
  font-size: 1.1rem;
}

/* unvisited link */
a:link {
  color: whitesmoke;
}

/* visited link */
a:visited {
  color: #e47672c1;
}

/* mouse over link */
a:hover {
  color: #a33430c1;
  background-color: #d5bdb5;
  padding: 1px;
}

/* selected link */
a:active {
  color: black;
}

main {
  background-color: #f1e9e6;
}

footer {
  background-color: #c7a79d;
  padding: 10px;
  text-align: center;
  color: white;
  margin: 15px;
  border: 2px solid white;
}

figure {
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 10px;
  text-align: center;
}

img.responsive-main {
  width: 100%;
  max-width: 600px;
  height: auto;
}

img.responsive-sidebar {
  width: 100%;
  max-width: 250px;
  height: auto;
}
